<template>
  <v-app>
    <v-app-bar app class="menu-background" elevation="0">
      <div class="d-flex align-center">
        <v-img alt="Logo" class="shrink mr-2" contain src="../src/assets/BouDrivers/BouNoir.png"
          transition="scale-transition" width="80" />
      </div>

      <v-spacer></v-spacer>
      <div v-if="sreenSize > 790">
        <v-btn href="/" text>
          <span class="mr-2 text-menu-color">Accueil</span>
        </v-btn>
        <v-btn href="/" text>
          <span class="mr-2 text-menu-color">Qui Sommes Nous ?</span>
        </v-btn>
        <v-btn href="/" text>
          <span class="mr-2 text-menu-color">Reservez</span>
          <v-icon small color="white"> mdi-car </v-icon>
        </v-btn>
        <v-btn href="/" text>
          <v-icon small color="white"> mdi-phone </v-icon>
          <span class="mr-2 text-menu-color">01-02-03-04-05</span>
        </v-btn>
      </div>

      <div v-else>
        <v-menu bottom left>
          <template v-slot:activator="{ on, attrs }">
            <v-btn text class="align-self-center mr-4" v-bind="attrs" v-on="on">
              <v-icon large color="white">mdi-format-list-bulleted</v-icon>
            </v-btn>
          </template>

          <v-list class="white">
            <v-list-item>
              <span style="color: black" class="mr-2 text-menu-color">Accueil</span>
            </v-list-item>
            <v-list-item>
              <span style="color: black" class="mr-2 text-menu-color">Qui Sommes Nous ?</span>
            </v-list-item>
            <v-list-item>
              <span style="color: black" class="mr-2 text-menu-color">Reservez</span>
              <v-icon small color="white"> mdi-car </v-icon>
            </v-list-item>
            <v-list-item>
              <v-icon small color="black"> mdi-phone </v-icon>
              <span  style="color: black" class="mr-2 text-menu-color">01-02-03-04-05</span>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
    <v-footer color="black" padless class="mt-5">
      <v-row justify="center" no-gutters>
        <v-btn color="white" class="my-2" href="/" text>
          <span class="mr-2 text-menu-color">Accueil</span>
        </v-btn>
        <v-btn color="white" class="my-2" href="/" text>
          <span class="mr-2 text-menu-color">Qui Sommes Nous ?</span>
        </v-btn>
        <v-btn color="white" class="my-2" href="/" text>
          <span class="mr-2 text-menu-color">Reservez</span>
          <v-icon small color="white"> mdi-car </v-icon>
        </v-btn>
        <v-btn color="white" class="my-2" href="/" text>
          <v-icon small color="white"> mdi-phone </v-icon>
          <span class="mr-2 text-menu-color">01-02-03-04-05</span>
        </v-btn>
        <v-col class=" lighten-2 py-4 text-center white--text" cols="12">
          <span style="font-size:10px"> {{ new Date().getFullYear() }}</span>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",

  data: () => ({
    links: [
      'Home',
      'About Us',
      'Team',
      'Services',
      'Blog',
      'Contact Us',
    ],
  }),
  computed: {
    sreenSize() {
      return this.$vuetify.breakpoint.width;
    }
  }
};
</script>

<style lang="scss" scoped>
.text-menu-color {
  color: white;
  font-size: 15px;
  font-family: "Times New Roman", Arial, sans-serif;
}

.menu-background {
  background-color: black !important;
  min-height: 80px;
}
</style>