<template>
  <div>
    <v-row class="row mx-auto background-banier">
      <v-col cols="12" class="baniere-padding">
        <v-card class="mx-auto" min-height="100%" max-width="100%">
          <div class="baniere-container">
            <img class="white--text align-end " height="100%" width="100%"
              src="../../assets/BouDrivers/v-class-banner.jpg" style="opacity: 0.3; object-fit: cover !important;" />
            <div class="baniere-texte" style="color: white">
              <p class="texte-title-font"> CHAUFFEUR PRIVÉ PARIS
                VOITURE AVEC CHAUFFEUR</p>
              <v-btn class="texte-title-font" outlined color="white">
                Reservez!
              </v-btn>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <div class="padding-box-picture">
      <!--Reservez votre chauffeur-->
      <v-row class="row mx-auto">
        <v-col :cols="sreenSize < 1000 ? 12 : 6">
          <p style="color:#b0b683; font-size:34px" class="texte-title-font">Réservez votre chauffeur privé sur
            BouDrivers</p>
          <p class="texte-paragraphe">
            Nous avons toujours privilégié une qualité de service à une expansion trop forte.
            C’est une société à taille humaine, pour pouvoir rester le prestataire de l’excellence en matière de
            voitures avec chauffeurs sur le marché Parisien et ce malgré un marché en forte évolution depuis plusieurs
            années.
          </p>
          <p class="texte-paragraphe">
            La voiture avec chauffeur qui simplifie la vie.
            Un prix fixe connu à la réservation, un chauffeur
            privé VTC professionnel et discret et un service adapté à vos envies.
          </p>
        </v-col>
        <v-col :cols="sreenSize < 1000 ? 12 : 6">
          <v-card class="mt-4" elevation="0" height="300px" max-width="100%">
             <v-carousel height="300px" max-width="100%"
                         cycle 
                         hide-delimiters 
                        :show-arrows="false">
                 <v-carousel-item >
                      <div class="img-container">
                            <img class="white--text img-content align-end " height="100%" width="100%"
                             src="../../assets/BouDrivers/classeVExterieure.png" style="object-fit: contain !important;" />
                       </div>
                 </v-carousel-item>
                   <v-carousel-item >
                      <div class="img-container">
                            <img class="white--text img-content align-end " height="100%" width="100%"
                             src="../../assets/BouDrivers/classS.png" style="object-fit: contain !important;" />
                       </div>
                 </v-carousel-item>
                   <v-carousel-item >
                      <div class="img-container">
                            <img class="white--text img-content align-end " height="100%" width="100%"
                             src="../../assets/BouDrivers/classE.png" style="object-fit: contain !important;" />
                       </div>
                 </v-carousel-item>
             </v-carousel>
            
          </v-card>
        </v-col>
      </v-row>
      <!--Professionnel-->
      <v-row class="bloc-space mx-auoto">
        <v-col cols="12" class="d-flex justify-center">
          <h2 style="color:#b0b683;" class="texte-title-font">LES SERVICES DE BOUDRIVERS</h2>
        </v-col>
        <v-col :cols="sreenSize < 1000 ? 12 : 6">
          <h3 style="color:#b0b683;" class="texte-title-font">Professionnel</h3>
          <p class="texte-paragraphe mt-5">
            BOUDRIVERS vous accompagne dans vos trajets professionnels ou personnels de longue distance. Profitez du
            confort de votre voiture, détendez-vous votre chauffeur privé vous accompagnera où vous le souhaitez. Nos
            chauffeurs sont de métier et sélectionnés avec attention et font preuve d’une grande discrétion garantissant
            votre tranquillité et la confidentialité de tous vos déplacements. La satisfaction de nos clients est notre
            priorité
          </p>
          <v-btn style="color: white" class="texte-title-font" color="black">
            Reservez!
          </v-btn>
        </v-col>
        <v-col :cols="sreenSize < 1000 ? 12 : 6">
          <v-card elevation="0" height="300px" max-width="100%">
            <div class="img-container">
              <img class="white--text img-content align-end " height="100%" width="100%"
                src="../../assets/BouDrivers/classev-profesionnel.png" style="object-fit: fill !important;" />
            </div>
          </v-card>
        </v-col>
      </v-row>
      <!--Disney-->
      <v-row class="bloc-space mx-auto">
        <v-col v-if="sreenSize > 500" :cols="sreenSize < 1000 ? 12 : 6">
          <v-card elevation="0" height="300px" max-width="100%">
            <div class="img-container">
              <img class="white--text img-content align-end " height="100%" width="100%"
                src="../../assets/BouDrivers/disney.png" style="object-fit: fill !important;" />
            </div>
          </v-card>
        </v-col>
        <v-col :cols="sreenSize < 1000 ? 12 : 6">
          <h3 style="color:#b0b683;" class="texte-title-font">Chauffeur privé BouDrivers</h3>
          <p class="texte-paragraphe mt-5">
            Trajets privés et professionnels, transferts depuis/vers les aéroports, gares et DisneyLand Paris.
            Au départ et à destination de Paris. Service de
            navette aéroport, gare et hôtel.
          </p>
          <p class="texte-paragraphe">
            Le service de chauffeur à disposition de quelques heures à plusieurs jours. Aussi, nos chauffeurs privés VTC
            interviennent a Paris, mais également partout dans les alentours.
          </p>
          <p class="texte-paragraphe">

          </p>
          <v-btn style="color: white" class="texte-title-font" color="black">
            Reservez!
          </v-btn>
        </v-col>
        <v-col v-if="sreenSize < 500" :cols="sreenSize < 1000 ? 12 : 6">
          <v-card elevation="0" height="300px" max-width="100%">
            <div class="img-container">
              <img class="white--text img-content align-end " height="100%" width="100%"
                src="../../assets/BouDrivers/disney.png" style="object-fit: fill !important;" />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
    <!--Baniére contact-->
    <div>
      <v-row class="bloc-space mx-auto">
        <div class="row-contact-home">
          <div style="background-color:rgba(0,0,0,0); color: white" class="baniere-texte">
            <p class="texte-paragraphe" style="color: white"> CONTACTEZ-NOUS POUR RESERVEZ</p>
            <p class="texte-paragraphe">
              <v-icon small color="white"> mdi-phone </v-icon>
              <span style="color:white" class="mr-2">01-02-03-04-05</span>
            </p>
            <p>
              <v-btn class="texte-paragraphe" outlined color="white">
                Reservez!
              </v-btn>
            </p>
          </div>
        </div>
      </v-row>
    </div>
    <!--Partie 2-->
    <div class="padding-box-picture">
      <!--Ponctualité-->
      <v-row class="row mx-auto">
        <v-col :cols="sreenSize < 1000 ? 12 : 6">
          <h3 style="color:#b0b683;" class="texte-title-font">Ponctualité</h3>
          <p class="texte-paragraphe">
            Gagnez du temps et réservez votre voiture sur Parisien VTC. dès maintenant pour vos trajets professionnels,
            vos soirées et pour tous vos événements. Il suffit simplement d'indiquer les adresses de départ et d'arrivée
            pour commander un chauffeur! Le prix est fixe et connu à
            l'avance au moment de votre commande.
          </p>
        </v-col>
        <v-col :cols="sreenSize < 1000 ? 12 : 6">
          <v-card elevation="0" height="300px" max-width="100%">
            <div class="img-container">
              <img class="white--text img-content align-end " height="100%" width="100%"
                src="../../assets/BouDrivers/v-class-staring.jpg" style="object-fit: cover !important;" />
            </div>
          </v-card>
        </v-col>
      </v-row>
      <!--Mise a disposition-->
      <v-row class="bloc-space mx-auoto">
        <v-col v-if="sreenSize > 500" :cols="sreenSize < 1000 ? 12 : 6">
          <v-card elevation="0" height="300px" max-width="100%">
            <div class="img-container">
              <img class="white--text img-content align-end " height="100%" width="100%"
                src="../../assets/BouDrivers/toureifell.png" style="object-fit: cover !important;" />
            </div>
          </v-card>
        </v-col>
        <v-col :cols="sreenSize < 1000 ? 12 : 6">
          <h3 style="color:#b0b683;" class="texte-title-font">Mise à disposition</h3>
          <p class="texte-paragraphe mt-5">
            Votre chauffeur privé BOUDRIVERS vous conduit partout à travers Paris pour vos déplacements. Passez d'un
            arrondissement à l'autre en évitant le métro ! Découvrez la capitale sous un autre jour, de ses monuments
            les plus emblématiques comme la Tour Eiffel, le Sacré-Coeur et le Musée du Louvre, à ses endroits les plus
            pittoresques comme ses passages couverts, ses galeries marchandes et ses nombreux jardins.
          </p>
        </v-col>
        <v-col v-if="sreenSize < 500" :cols="sreenSize < 1000 ? 12 : 6">
          <v-card elevation="0" height="300px" max-width="100%">
            <div class="img-container">
              <img class="white--text img-content align-end " height="100%" width="100%"
                src="../../assets/BouDrivers/toureifell.png" style="object-fit: cover !important;" />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeIndex",
  computed: {
    sreenSize() {
      return this.$vuetify.breakpoint.width;
    }
  }
};
</script>

<style lang="scss" scoped>
.padding-box-picture {
  padding-right: 30px !important;
  padding-left: 30px !important;
  padding-top: 60px;
}

.img-content {
  border-radius: 8px;
}

.bloc-space {
  padding-top: 30px;
}

.baniere-padding {
  padding: 0;
}

.background-banier {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.baniere-texte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white
}

.baniere-container {
  position: relative;
  background-color: black;
  height: 700px;
  width: 100%;
}

.img-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.texte-title-font {
  font-family: "Times New Roman", Arial, sans-serif;
}

.texte-paragraphe {
  font-family: "Times New Roman", Arial, sans-serif;
  font-size: 18px;
  color: #6f6f6f;
}

.row-contact-home {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
</style>